---
layout: default
---
<link rel="canonical" href="https://www.weusecoins.com/en/get-free-bitcoins/" />

<h2>Bitcoin Price Widget</h2>

{% include widget_price.html hideEmbedLink=true %}

<p>Copy the following snippet into your website to add a bitcoin price ticker and earn free bitcoins!
<p>Just send a note to info@weusecoins.com with (1) your website where you embedded the price ticker and (2) the Bitcoin address where we should send you some free bitcoins. Please keep in mind that it may take us a few days or weeks to get the bitcoins sent.
<p>Also, we will keep a record of the websites we pay out to and make payments sporadically in the future, probably every 6-12 months, if the ticker is still embedded. We want you to continue getting some bitcoins to be able to experiment with.

{% include widget_embed.html %}

<h2>Sponsors For Free Bitcoins</h2>

Since the earliest days of Bitcoin there have been Bitcoin faucets where people can get free bitcoins. This has been a way to spread Bitcoin awareness. However, when you give away money for free then you quickly run out of it. To make it sustainable to give away free bitcoins therefore we have sponsors.<p>

<h2>Current News</h2>

This is a great page to bookmark. Not only do you get free bitcoins but you can also browse the current Bitcoin news headlines.<p>

<h2>Where To Get Free Bitcoins</h2>

<center><a target="_blank" href="https://www.landofbitcoin.com/?r=bIX7dhm0fTUrJTVW"><img src="http://static.landofbitcoin.com/img/100.png" alt="" /></a></center><p>
<center>
	<div>
		<iframe scrolling="no" frameborder="0" src="//adbit.co/adspace.php?a=CU5QZ3QPQUWC4" style="overflow:hidden;width:468px;height:60px;"></iframe>
	</div>
	<div>
		<a href="//adbit.co/?a=Advertise&b=View_Bid&c=CU5QZ3QPQUWC4" target="_blank">&#8657; Your Ad Here &#8657;</a>
	</div>
</center>
