#301 Redirect to migrate old urls
RewriteEngine on
RewriteRule ^fund\.php$ /en/fund [R=301,L]
RewriteRule ^about\.php$ /en/about [R=301,L]
RewriteRule ^materials\.php$ /en/materials [R=301,L]
RewriteRule ^translations\.php$ /en/translations [R=301,L]
RewriteRule ^getting-started\.php$ /en/getting-started [R=301,L]
RewriteRule ^questions\.php$ /en/questions [R=301,L]
RewriteRule ^merchant-tools\.php$ /en/merchant-tools [R=301,L]
RewriteRule ^mining-guide\.php$ /en/mining-guide [R=301,L]
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+)$ $1.html [L]
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]
