html {
    overflow-y: scroll;
}

body {
    background-color: #fefdfa;
    color: #7F7569;
    font-family: "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
    line-height: 1.28;
    margin: 0;
}

h1, h2 {
    font-family: 'UbuntuBoldItalic', sans-serif;
    font-weight: normal;
    font-size: 141%;
}

h2 {
    font-size: 121%;
    margin: 1em 0 0.4em;
}

a {
    color: #4892b2;
}

a img {
    border: 0;
}

a:hover {
    color: #75BFDF;
}

p {
    margin: 1em 0;
}

.clear {
    clear: both;
    line-height: 0;
}

.block_outer {
    overflow: hidden;
    margin: -0.5em 0;
}

.block {
    padding: 0.5em 0;
    padding-top: 0.5em !important;
}

.block .first {
    margin-top: 0;
}

.block .last {
  margin-bottom: 0;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
  background-image: -moz-linear-gradient(top, #f9edda, #fefdfa); /* FF3.6 */
  background-image: -o-linear-gradient(top, #f9edda, #fefdfa); /* Opera 11.10+ */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f9edda),color-stop(1, #fefdfa)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#f9edda, #fefdfa); /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #f9edda, #fefdfa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9edda', EndColorStr='#fefdfa'); /* IE6-IE9 */
  z-index: 1;
  display: none;
}

#lang {
  width:970px;
  margin:0 auto 0 auto;
  text-align: right;
  font-size: 94%;
}

#lang div {
  display: inline-block;
  padding:5px 10px;
  border-bottom:1px solid rgb(213, 213, 213);
  border-left:1px solid rgb(213, 213, 213);
  border-right:1px solid rgb(213, 213, 213);
}

#lang a, #lang a:link, #lang a:visited, #lang a:active {
  padding: 0px 2px;
  text-decoration: none;
}

#wrapper {
  position: relative;
  width: 970px;
  margin: 0 auto;
  z-index: 2;
}

#header {
  border-bottom: #9a8c7b 2px solid;
  margin: 20px 0 0;
}

#logo {
  float: left;
  padding-bottom: 7px;
  padding-right: 2em;
}

#logo a {
  display: block;
  background-image: url(../gx/logo.png);
  width: 150px;
  height: 53px;
}

#logo span {
  display: none;
}

#menu li {
  float: left;
  list-style: none;
  padding-left: 2.7em;
  height: 53px;
  background-repeat: no-repeat;
  background-position: 15px 63px;
  padding-bottom: 7px;
}

#menu li a, #menu li a:active, #menu li a:visited, #menu li a:link {
  font-family: 'UbuntuBoldItalic', sans-serif;
  font-size: 120%;
  display: block;
  height: 53px;
  color: #7F7569;
  text-decoration: none;
}

#menu_whatis a {
  width: 73px;
}

#menu_getstarted a {
  width: 73px;
}

#menu_qna a {
  width: 96px;
}

#menu_merchants a {
  width: 96px;
}

#menu_mining a {
  width: 100px;
}

#menu_whatis {
  background-image: url(../gx/icon_bitcoin.png);
}

#menu_getstarted {
  background-image: url(../gx/icon_hand.png);
}

#menu_qna {
  background-image: url(../gx/icon_qna.png);
}

#menu_merchants {
  background-image: url(../gx/icon_shop.png);
}

#menu_mining {
  background-image: url(../gx/icon_pickaxe.png);
}

#tagline {
  font-family: 'UbuntuItalic', sans-serif;
  font-size: 140%;
  padding: 5px 0px;
}

#needhelp {
  clear: both;
  margin-top: 2em;
  padding: 0.5em;
}

#needhelp .left {
    float: left;
}

#needhelp .right {
    float: right;
    font-size: 0.9em;
    font-weight: bold;
}

#footer {
  clear: both;
  border-top: #9a8c7b 2px solid;
  padding-top: 0.2em;
  padding-bottom: 130px;
}

#footer .license {
  font-size: 0.8em;
  margin: 4px 0;
}

#footer .cclogo {
  float: left;
  width: 60px;
}

#footer .footermenu {
  float: right;
  font-size: 0.8em;
}

#footer .footermenu ul {
  margin: 5px 0;
  padding: 0;
  display: inline-block;
}
#footer .footermenu ul li {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
}

.amountpara {
  clear: both;
}

.amountpara img {
  float: left;
  margin: 0 1em 1em 0;
}

dl {
  padding: 0;
}

dl dt {
  float: left;
  clear: left;
  text-align: left;
  font-weight: bold;
  color: #999;
  width: 13em;
}

dl dd {
  padding: 0 0 0.5em 0;
  margin-left: 13.3em;
}

table.ledger {
  border-collapse: collapse;
}
table.ledger td {
  padding: 4px 0;
}

table.ledger th {
  padding: 0 0 2px 0;
  text-align: left;
  border-bottom: 1px solid #9A8C7B;
}

table.ledger tr.first td {
  padding-top: 8px;
}

table.ledger tr.last td {
  padding-bottom: 8px;
}

table.ledger .comment {
  padding-right: 10px;
}

table.ledger .credit, table.ledger .debit {
  text-align: right;
  padding-left: 20px;
}

table.ledger td.debit {
  color: #E8683F;
}

table.ledger .summary td {
  font-weight: bold;
}

table.ledger .summary td.credit {
  border-top: 4px double #9A8C7B;
}

.downloadfeature {
  color: #7F7569;
  display: block;
  width: 32%;
  float: left;
  text-decoration: none;
  padding-bottom: 1em;
}

.downloadfeature p.first {
  margin-top: 0.4em;
}

.downloadfeature p {
  margin: 0.2em 0;
}

.downloadfeature p.title {
  font-weight: bold;
}

.downloadfeature p.desc {
  font-size: 0.9em;
}

.downloadfeature .icon {
  float: left;
  margin-right: 0.5em;
}

.img_right {
  float: right;
  margin-left: 1em;
}

.autobutton {
  display: inline-block;
  background-position: top left;
  margin: 0.2em 0;
}

.autobutton.hover {
  background-position: bottom left;
}

.autobutton.download {
  width: 100px;
  height: 32px;
  background-image: url(../gx/btn_download.png);
}

.fbtn {
    display: inline-block;
    position: relative;
    font-family: 'UbuntuBoldItalic', sans-serif;
    font-weight: normal;
    font-size: 141%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: hand;
    cursor: pointer;
}

a.fbtn ,a.fbtn:hover {
    color: #508217;
}

.fbtn .contents {
    z-index: 5;
    display: block;
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 0px #e5eee5;
    vertical-align: middle;
}

.fbtn .bdy, .fbtn .shadow, .fbtn .hover {
    display: block;
    position: absolute;
    left: 0;
}

.fbtn .shadow {
    bottom: 1px; /* not sure why needed */
    right: 0;
    border-radius: 9px;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.fbtn .hover {
    z-index: 4;
}

.fbtn .bl {
    display: block;
    position: absolute;
    left: 0;
    right: 33;
    bottom: 0;
    z-index: 1;
    height: 18px;
    width: 159px;
    background-image: url(../gx/fbtn_extrusion_l.png);
}

.fbtn.large .bl {
    width: 229px;
}

.fbtn.tiny .bl {
    width: 98px;
}

.fbtn .br {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 18px;
    width: 33px;
    background-image: url(../gx/fbtn_extrusion_r.png);
}

a.fbtn:active {
    color: #fff;
}
a.fbtn:active .bdy, a.fbtn:active .hover, a.fbtn:active .contents {
    top: -3px !important;
}
a.fbtn:active .contents {
    text-shadow: 0 0 3px rgba(0,0,0,0.5) !important;
}

.fbtn.small, .fbtn.small .bdy, .fbtn.small .shadow, .fbtn.small .hover {
    width: 192px;
    height: 59px;
    line-height: 59px;
}

.fbtn.small .bdy {
    top: -6px;
    z-index: 3;
    background-image: url(../gx/fbtn_small.png);
}

.fbtn.small .hover {
    top: -6px;
    background-image: url(../gx/fbtn_small.png);
    background-position: bottom left;
}

.fbtn.large, .fbtn.large .bdy, .fbtn.large .shadow, .fbtn.large .hover {
    width: 262px;
    height: 99px;
    line-height: 99px;
}

.fbtn.large .bdy {
    top: -10px;
    z-index: 3;
    background-image: url(../gx/fbtn_large.png);
}

.fbtn.large .contents {
    top: -10px;
}

.fbtn.large .hover {
    top: -10px;
    background-image: url(../gx/fbtn_large.png);
    background-position: bottom left;
}

.fbtn.tiny {
    font-size: 100%;
}

.fbtn.tiny, .fbtn.tiny .bdy, .fbtn.tiny .shadow, .fbtn.tiny .hover {
    width: 131px;
    height: 28px;
    line-height: 32px;
}

.fbtn.tiny .bdy {
    top: -4px;
    z-index: 3;
    background-image: url(../gx/fbtn_tiny.png);
}

.fbtn.tiny .hover {
    top: -4px;
    background-image: url(../gx/fbtn_tiny.png);
    background-position: bottom left;
}

.fbtn.tiny .shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.fbtn.tiny:active .contents {
    text-shadow: 0 0 2px rgba(0,0,0,0.5) !important;
}

.fbtn .contents img {
    vertical-align: middle;
}

#walletbanner {
    background-color: transparent;
    background-image: url(../gx/banner_walletget.png);
    width: 605px;
    height: 93px;
    padding: 40px 35px 0 0;
    text-align: right;
    margin-top: 25px;
}

#walletbanner .caption {
    font-family: 'UbuntuBoldItalic', sans-serif;
    font-size: 150%;
    color: #fff;
    text-align: left;
    display:inline-block;
    width:380px;
    padding-left:30px;
    position:relative;
    top:-2px;
}

.box {
    position: relative;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 15px #F7F6F2; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 15px #F7F6F2; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 15px #F7F6F2; /* Opera 10.5, IE9, Chrome 10+ */
}

.box.half {
    width: 460px;
    float: left;
}


.box.half.right {
    margin-right: 0;
}

.box h1.outheader {
    margin-top: -50px;
    font-size: 1.8em;
    float: left;
}

.questionbox {
    margin: 70px 30px 0 0;
}

.qnalist {
    list-style-type: none;
    padding: 0;
}

.boxbody {
    margin: 1em;
    position: relative;
}

.qnalist {
    margin: 0;
}

.qnalist a {
    text-decoration: none;
}

.qnalist a:hover {
    text-decoration: underline;
}

ul.qnalist li {
    line-height: 1.8;
}

.box .qnalist {
    width: 100%;
    margin: -0.6em 0 0.6em 0;
    border-collapse: collapse;
}

.box .qnalist td, .box .qnalist th {
    text-align: left;
    height: 40px;
    border-bottom: 1px solid #F7F6F2;
    vertical-align: center;
}

.box .qnalist tbody .main:hover {
    cursor: hand;
    cursor: pointer;
    background: -moz-linear-gradient(left, #ffffff 0%, #bdb8b1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#bdb8b1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 0%,#bdb8b1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 0%,#bdb8b1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffffff 0%,#bdb8b1 100%); /* IE10+ */
    background: linear-gradient(left, #ffffff 0%,#bdb8b1 100%); /* W3C */
}

.box .qnalist .score {
    text-align: center;
}

.answerlightbox img {
    max-width: 900px;
}

.answerlightbox .answerer {
    float: right;
    background-color: #E6E3DD;
    width: 175px;
    font-size: 0.80em;
    padding: 0.3em;
    margin: 5px 15px 0 0;
    font-family: Tahoma,Geneva,Arial,sans-serif;
}

.answerlightbox .answerer .lbl {
    font-size: 9pt;
    margin: -2px 0 2px;
}

.answerlightbox .answerer img {
    float: left;
    margin: 0 3px 0 0;
}

.tabs {
    list-style-type: none;
    margin: -40px 0 0;
    padding: 0 0 0 40px;
}
.tabs li {
    float: left;
}
.tabs li a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 0.8em;
    text-decoration: none;
    background-color: #BDB8B1;
    color: #fff;
}
.tabs li a:hover {
    background-color: #D2CFCA;
    text-decoration: underline;
}
.tabs li a.current {
    background-color: #fff;
    color: #7F7569;
    text-decoration: underline;
}

.tabs li a.first {
    border-radius: 5px 0 0 0;
    border-left: 1px solid #F7F7F3;
}
.tabs li a.last {
    border-radius: 0 5px 0 0;
}

.box .footer {
    background-color: #BDB8B1;
}

.box .footer p {
    margin: 0;
    padding: 0.5em 1em;
    color: #EFEDEA;
    font-size: 0.9em;
}

.box .footer a {
    color: #F9F7F4;
}

.videobox {
    width: 640px;
    height: 385px;
    line-height: 0;
    margin: 0;
    -moz-box-shadow: 0px 0px 15px #E9E8DF; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 15px #E9E8DF; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 15px #E9E8DF; /* Opera 10.5, IE9, Chrome 10+ */
}

.socialbox {
  float: right;
  position: relative;
  width: 300px;
  z-index: 10;
}

.socialbox .stBubble {
    margin-top: 0 !important;
}

.socialbox #twitter ul {
  margin: 0;
  padding: 0;
}

.socialbox #twitter li {
  list-style: none;
  margin: 0 0 1em;
}

.socialbox #twitter a.user {
  font-weight: bold;
  font-size: 80%;
  color: #ccc2b6;
  text-decoration: none;
}

.socialbox #twitter .time {
  font-size: 80%;
  color: #ccc2b6;
}

#adorn_qmark {
    position: absolute;
    top: -65px;
    right: -100px;
}

.fbtn_box {
    background-color: #F1E269;
    color: #EA6840;
    margin: 1.7em 0 1.2em;
    padding: 0.7em 0;
    text-align: center;
}

.fbtn_box .caption {
    font-family: 'UbuntuBoldItalic', sans-serif;
    font-weight: normal;
    font-size: 141%;
    line-height: 59px;
    padding: 0 2em 0 0;
}

.bigtabs {
    font-family: 'UbuntuBoldItalic', sans-serif;
    font-weight: normal;
    font-size: 105%;
}

.featurebox {
    position: relative;
    float: left;
    width: 300px;
    margin: 40px 35px 0 0;
    z-index: 2;
}

.featurebox.last {
    margin-right: 0;
}

.featurebox.wide {
    width: 467px;
}

.featurebox.twothird {
    width: 635px;
}

.featurebox.fullwidth {
    width: auto;
    float: none;
    margin-right: 0;
}

.featurebox img.icon {
    position: absolute;
    top: -40px;
    left: -26px;
}

.featurebox h1 {
    margin: 0;
    padding: 11px 0 0 30px;
    font-size: 140%;
}
.featurebox h2 {
    margin: 0;
    padding: 0 0 14px 30px;
    font-size: 110%;
    border-bottom: 2px solid #FBFAF6;
}

.featurebox.icon h1, .featurebox.icon h2 {
    padding-left: 70px;
}

.featurebox p, .featurebox dl, .featurebox code {
    padding: 0 30px;
}

.featurebox blockquote {
    position: relative;
    font-family: 'UbuntuBoldItalic', sans-serif;
    margin: 35px 30px 25px;
    color: #518217;
    font-size: 120%;
    text-align: center;
}

.featurebox .source {
    font-weight: bold;
    color: #518217;
    font-size: 90%;
    text-align: center;
    margin: 0 0 20px;
    line-height: 1.47;
}

.featurebox blockquote .oq, .featurebox blockquote .cq {
    position: absolute;
    width: 44px;
    height: 28px;
}
.featurebox blockquote .oq {
    background-image: url(../gx/quote_open.png);
    top: -18px;
    left: -40px;
}
.featurebox blockquote .cq {
    background-image: url(../gx/quote_close.png);
    bottom: -18px;
    right: -40px;
}

.featurebox.linksbox dl dt {
    width: 9.5em;
}
.featurebox.linksbox dl dd {
    margin-left: 10em;
}
.featurebox.linksbox a {
    text-decoration: none;
}

.newsbox {
    position: absolute;
    top: 125px;
    right: 0;
    margin: 0;
}

.newsbox .tabs {
    float: left;
    padding: 0;
}

.newsbox .boxbody {
    height: 265px;
    width: 300px;
    margin: 0;
    overflow: hidden;
}

.newsbox .boxbody .content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 280px;
}

.newsbox .boxbody .loading {
    position: absolute;
    top: 100px;
    left: 120px;
    width: 43px;
    background-image: url(../'gx/load.gif');

    /* Hide text (used for Twitter's loading thingy) */
    overflow: hidden;
    height: 0;
    padding-top: 11px;
}

.newsbox .boxbody .newstab p {
    font-weight: bold;
    color: #CCC2B6;
    font-size: 0.8em;
    margin: 0;
}

.newsbox .boxbody .newstab ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em;
}
.newsbox .boxbody .newstab li {
    margin: 0.2em 0;
}

.newsbox .boxbody .newstab .more, .socialbox #twitter_more {
  font-size: 80%;
}

.newsbox .expand {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 298px;
    height: 23px;
    background-color: white;
    background-image: url(../gx/box_expand.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: hand;
    cursor: pointer;
    border: 1px solid #F3F2EA;
    -moz-box-shadow: 0px 0px 5px #F3F3F3; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 5px #F3F3F3; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 5px #F3F3F3; /* Opera 10.5, IE9, Chrome 10+ */
}

.newsbox .expand.contract {
    background-image: url(../gx/box_contract.png);
}

.merchantfeature {
    position: absolute;
    top: 514px;
    right: 0;
    width: 301px;
    height: 135px;
}

.merchantfeature img {
    position: absolute;
    top: 0;
    right: 0;
}
.merchantfeature .fbtn {
    position: absolute;
    left: 85px;
    bottom: 13px;
}

.mediastatic {
    position: relative;
    z-index: 1;
    margin: 10px auto -5px;
    width: 931px;
    height: 112px;
    background-image: url(../gx/media2.gif);
}

.featurebox.red blockquote .oq {
    background-image: url(../gx/quote_open_red.png);
}
.featurebox.red blockquote .cq {
    background-image: url(../gx/quote_close_red.png);
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 20, 2011 08:25:23 PM America/New_York */

@font-face {
    font-family: 'UbuntuRegular';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?iefix') format('eot'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#webfontKT0zjHSC') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuItalic';
    src: url('../fonts/ubuntu-ri-webfont.eot');
    src: url('../fonts/ubuntu-ri-webfont.eot?iefix') format('eot'),
         url('../fonts/ubuntu-ri-webfont.woff') format('woff'),
         url('../fonts/ubuntu-ri-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-ri-webfont.svg#webfontGetaoUfe') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu-b-webfont.eot?iefix') format('eot'),
         url('../fonts/ubuntu-b-webfont.woff') format('woff'),
         url('../fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-b-webfont.svg#webfontEreyFiHC') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('../fonts/ubuntu-bi-webfont.eot');
    src: url('../fonts/ubuntu-bi-webfont.eot?iefix') format('eot'),
         url('../fonts/ubuntu-bi-webfont.woff') format('woff'),
         url('../fonts/ubuntu-bi-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-bi-webfont.svg#webfontf1YowZka') format('svg');
    font-weight: normal;
    font-style: normal;

}
