<h2>Bitcoin Mining Hardware Comparison</h2>
<p>Currently, based on <b>(1)</b> price per hash and <b>(2)</b> electrical efficiency the best Bitcoin miner options are:

<div class="hardware-comparison">
  <div>
    <h3>AntMiner S7</h3>
    <a href="http://www.runtogold.com/antminers7">
      <img src="/images/bitcoin-miner-antminer-s7.jpg" alt="Antminer S5 Bitcoin Miner">
    </a>
    <ul>
      <li class="capacity">4,730 Gh/s</li>
      <li class="power">0.25 W/Gh</li>
      <li class="weight">8.8 pounds</li>
      <li class="guide"><a href="/antminer-s3-bitcoin-miner-setup/">Yes</a></li>
      <li class="price">$1,589.00</li>
      <li class="buyfrom">
        <a href="http://www.runtogold.com/antminers7">
          <img border="0" alt="Buy Antminer S7 bitcoin miner" src="/images/buy-from-amazon.png" width="120" height="28">
        </a>
      </li>
      <li class="approx">0.9153</li>
    </ul>
  </div>
  <div>
    <h3>Spoondolies Tech SP20 Jackson</h3>
    <a href="http://www.runtogold.com/17thsspondooliesbitcoinminer">
      <img src="/images/bitcoin-miner-spondoolies.jpg" alt="Spoondoolies Bitcoin Miner">
    </a>
    <ul>
      <li class="capacity">1,500 GH/s</li>
      <li class="power">0.80 W/Gh</li>
      <li class="weight">20 pounds</li>
      <li class="guide"><a href="/spondoolies-tech-SP20-bitcoin-miner-setup/">Yes</a></li>
      <li class="price">$499.97</li>
      <li class="buyfrom">
        <a href="http://www.runtogold.com/17thsspondooliesbitcoinminer">
          <img border="0" alt="Buy Spondoolies bitcoin miner" src="/images/buy-from-amazon.png" width="120" height="28">
        </a>
      </li>
      <li class="approx">0.2902</li>
    </ul>
  </div>
  <div>
    <h3>BPMC Red Fury USB</h3>
    <a href="http://www.runtogold.com/2ghsbitfuryusbbitcoinminer">
      <img src="/images/bitcoin-miner-bitfury-usb.jpg"
      alt="BPMC Red Fury USB Miner">
    </a>
    <ul>
      <li class="capacity">2.5 GH/s</li>
      <li class="power">1.00 W/GH</li>
      <li class="weight">1.6 ounces</li>
      <li class="guide"><a href="/usb-bitcoin-miner-setup-guide/">Yes</a></li>
      <li class="price">$33.87</li>
      <li class="buyfrom">
        <a href="http://www.runtogold.com/2ghsbitfuryusbbitcoinminer">
          <img border="0" alt="Buy Bitfury bitcoin miner" src="/images/buy-from-amazon.png" width="120" height="28">
        </a>
      </li>
      <li class="approx">0.00077463</li>
  </div>
</div>
