<div class="social-shares">
	<a 
		href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=WeUseCoins" 
		onclick='window.open("https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=WeUseCoins", "shareWindow", "height=280,width=700"); return false;'
		target="_blank" 
		title="Tweet" 
		class="social-button twitter">
		<i class="svg-icon twitter-flat"></i>
	</a>
	<a 
		href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" 
		onclick='window.open("https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}", "shareWindow", "height=600,width=600"); return false;'
		title="Share on Facebook" 
		target="_blank" 
		class="social-button facebook">
		<i class="svg-icon facebook-flat"></i>
	</a>
	<a 
		href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}"
		onclick='window.open("https://plus.google.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}", "shareWindow", "height=620,width=500"); return false;'
		target="_blank" 
		title="Share on Google+" 
		class="social-button googleplus">
		<i class="svg-icon googleplus-flat"></i>
	</a>
	<span class="social-button btc">
		<span class="heading"><a href="https://www.weusecoins.com/en/bitcoin-price/">Price</a></span>
		<span class="value">...</span>
	</span>
	<span class="social-button btc-volume">
		<span class="heading">Global Vol.</span>
		<span class="value">...</span>
	</span>
	<span class="social-button btc-difficulty">
		<span class="heading">Diff.</span>
		<span class="value">...</span>
	</span>
	<a
		href="mailto:?subject={{ page.title }}&body={{ page.title }} - {{ site.url }}{{ page.url }} via WeUseCoins"
		target="_blank"
		title="Share via Email"
		class="social-button email">
		<i class="svg-icon email-flat"></i>
	</a>
	<a
		href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source=WeUseCoins"
		onclick='window.open("https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source=WeUseCoins", "shareWindow", "height=620,width=500"); return false;'
		target="_blank"
		title="Share on LinkedIn"
		class="social-button linkedin">
		<i class="svg-icon linkedin-flat"></i>
	</a>
	<!--<a
		href="http://pinterest.com/pin/create/button/?url={URI-encoded URL of the page to pin}&media={URI-encoded URL of the image to pin}"
		onclick="return false;"
		target="_blank"
		title="Share on Pinterest"
		class="social-button pinterest">
		<i class="svg-icon pinterest-flat"></i>
	</a>-->
	<a
		href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}"
		onclick='window.open("http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}", "shareWindow", "height=800,width=1000"); return false;',
		target="_blank"
		title="Share on Reddit"
		class="social-button reddit">
		<i class="svg-icon reddit-flat"></i>
	</a>
</div>