---
layout: default
title: Bitcoin Price Ticker - Embed in your website and get free bitcoins
---
<link rel="canonical" href="https://www.weusecoins.com/en/embed/" />

<h2>Bitcoin Price Widget</h2>

{% include widget_price.html hideEmbedLink=true %}

<p>Getting free bitcoins has been a long standing tradition since Bitcoin began as a way to spread awareness about this new digital currency. Who does not like free money? To help increase awareness about Bitcoin we created this easy to embed Bitcoin price widget.
<p>So, copy the following snippet of code into your website to add a bitcoin price ticker and earn free bitcoins!

{% include widget_embed.html %}

<p>Please let us know you embedded the free Bitcoin price widget to increase awareness about Bitcoin so we know where to send you free bitcoins!</p>

{% include free-bitcoins.html %}
