---
layout: default
title: Bitcoin Price Ticker - We Use Coins
---
<link rel="canonical" href="https://www.weusecoins.com/en/embed/" />

<h2>Bitcoin Price Widget</h2>

{% include widget_price.html hideEmbedLink=true %}

<p>Copy the following snippet into your website to add a bitcoin price ticker and earn free bitcoins!
<p>Just send a note to info@weusecoins.com with (1) your website where you embedded the price ticker and (2) the Bitcoin address where we should send you some free bitcoins.</p>

{% include widget_embed.html %}

