.hardware-comparison {
  & > div {
    display: inline-block;
    width: 30%;
    vertical-align: top;

    &:nth-child(2){
      margin: 0px 1.5%;
    }

    @include mobile() {
        display: block;
        width: 100%;
        margin: 25px 0;
        text-align: center;
    }

    & > img {
      width: 100%;
      height: auto;
      max-height: 120px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        padding: 5px 0;

        &:before {
          font-weight: bold;
          display: block;
        }

        &.capacity:before {
          content: 'Advertised Capacity: ';
        }

        &.power:before {
          content: 'Power Efficiency: ';
        }

        &.guide:before {
          content: 'Guide: ';
        }

        &.weight:before {
          content: 'Weight: ';
        }

        &.price:before {
          content: 'Price: ';
        }

        &.approx:before {
          content: 'Appx. BTC Earned Per Month: '
        }
      }
    }
  }
}
