.page-toc {
  position: relative;
  z-index: 10;
  float: right;
  z-index: 10;
  list-style-type: none;
  background-color: $lightGray;
  font-size: 0.8em;
  padding: 0;
  margin: 15px;
  margin-top: 0;

  @include mobile() {
    float: none;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  li {
    padding: 2px 5px;
    border-bottom: 1px solid $white;
    transition: background-color 0.5s;

    &.page-toc-title {
      font-weight: bold;
      background-color: $gray;
      color: $white;

      &:hover {
        background-color: $gray;
      }
    }

    a {
      display: block;
      color: $darkerGray;
    }

    &:hover {
      background-color: lighten($gray, 25%);
    }
  }
}
